################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out
/.vs
/build-ImageSharer-Desktop_Qt_5_11_3_GCC_64bit-Debug